// -- Busy CSS -- //
.busy {
	display: inline-block;
	padding: 0;
	margin: -0.1em;
	bottom: ($busy - $navigator-line) * 1.6;
	width: $busy;
	height: $busy;
	position: relative;
	border: 1px solid $colour-busy-line;
	@include animation("busy-outer 2s infinite ease");
	
	> span {
		background-color: $colour-busy-line;
		&.delete {background-color: $colour-delete-fill;}
		&.create {background-color: $colour-create-fill;}
		&.load {background-color: $colour-load-fill;}
		&.save {background-color: $colour-save-fill;}
		&.commit {background-color: $colour-commit-fill;}
		vertical-align: top;
		display: inline-block;
		width: 100%;
		@include animation("busy-inner 2s infinite ease-in");
	}

}

// -- Spinner (Outer) Animation Key-Frames -- //
@include keyframes("busy-outer") {
  0% {transform: rotate(0deg);}
	25% {transform: rotate(180deg);}
	50% {transform: rotate(180deg);}
	75% {transform: rotate(360deg);}
	100% {transform: rotate(360deg);}
}

// -- Spinner (Inner) Animation Key-Frames -- //
@include keyframes("busy-inner") {
  0% {height: 0%;}
	25% {height: 0%;}
	50% {height: 100%;}
	75% {height: 100%;}
	100% {height: 0%;}
}